*{
    margin: 0;
    padding: 0;
}

.body-div{
    height: 100vh;
    background-color:rgb(27, 10, 43);
  
    display: grid;
    place-items: center;

}

.simon-div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    height: 500px;
}
body h1{
    font-size: 100px;
    font-family: verdana, sans-serif;
    color: white;
}

.color{
    
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 7px solid black;
    box-shadow: 0 4px 3px 2px black;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}